* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */

.header {
  display: flex;
  background-color: rgb(0, 132, 255);
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.header > nav > a {
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/* Main */

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

/* Posts container */

.posts-subtitle {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-size: 30px;
}

.posts-container {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.post-template {
  background-color: rgb(0, 132, 255);
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}

/* Filter container */

.filter-container {
  grid-column-start: 1;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

select {
  grid-column-start: 1;
  grid-row-start: 1;
  padding: 7px;
  margin: 10px;
}

/* Header */

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 132, 255);
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.footer > nav > a {
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
