@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.534);
}

/* Header */

h1 {
  font-size: 30px;
  font-weight: bold;
}

.header {
  display: flex;
  background-color: rgb(0, 132, 255);
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.header > nav > a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
}

/* Main */

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 6fr;
  background-color: rgb(240, 230, 220);
}

.main-create-post {
  flex: 1;
}

/* Posts container */

.post-content {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.posts-subtitle {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

.posts-container {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.post-template {
  background-color: rgb(0, 132, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}

.post-template:hover {
  background-color: rgb(1, 100, 192);
}

option:hover {
  background-color: rgb(0, 132, 255);
}

a:hover {
  background-color: rgb(1, 100, 192);
}

.like-delete-container,
.like-delete-container > button,
.like-delete-container > p {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.like-delete-btn {
  font-size: 40px;
  cursor: pointer;
}

.likecount {
  font-size: 20px;
  font-weight: bold;
}

/* Filter container */

.filter-container {
  grid-column-start: 1;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  border: 2px solid #1f2937;
  border-radius: 20px;
  padding: 20px;
  max-height: 80%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.filter-container > select,
.filter-container > select > option {
  padding: 10px;
}

.filters-title {
  font-size: 25px;
  font-weight: bold;
}

select {
  grid-column-start: 1;
  grid-row-start: 1;
  padding: 7px;
  margin: 10px;
}

/* Post Details Page */

.main-post-details-page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: minmax(auto, 1fr) minmax(auto, 3fr);
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(240, 230, 220);
}

.main-post-details-page > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.post-details-page {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 132, 255);
  padding: 150px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* Form */

.main-container {
  min-height: 100vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(240, 230, 220);
  padding: 1rem;
  box-sizing: border-box;
}

.form-wrapper {
  width: 100%;
  max-width: 50rem;
  background-color: rgb(0, 132, 255);
  border-radius: 0.5rem;
  padding: 2rem 11rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.form-header h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.form-group label {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1.125rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: white;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
  background-color: #4f46e5;
}

.submit-button:focus {
  outline: 2px solid #6366f1;
  outline-offset: 2px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 132, 255);
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.3);
}

.footer > nav > a {
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 7px;
  border-radius: 10px;
}

/* Media */

@media (max-width: 600px) {
  .main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .filter-container {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .posts-container,
  .posts-subtitle {
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .post-details-page {
    padding: 50px !important;
  }
  .posts-container {
    margin-bottom: 40px;
  }
}

@media (max-width: 400px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  nav > a {
    font-size: 20px !important;
  }
}

@media (max-width: 1024px) {
  .form-wrapper {
    padding: 2rem 6rem;
  }
}

@media (max-width: 768px) {
  .form-wrapper {
    padding: 2rem 3rem;
  }
}

@media (max-width: 480px) {
  .form-wrapper {
    padding: 1.5rem;
  }

  .form-header h2 {
    font-size: 1.5rem;
  }

  .form-group label,
  .form-group input,
  .form-group select,
  .submit-button {
    font-size: 1rem;
  }
}
